
fieldset {
    border-radius: 10px;
    border: solid 2px gainsboro;



    input {
        border: none;
        margin: 10px;
        background-color: gainsboro;
        /* border-radius: 10px; */
        width: 100%;
    }

    h3{
        align-self: start;
    }

    .transaccion {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .detalle {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #btnGuardar {
        padding: 10px 10px;
        background-color: greenyellow;
    }

    #btnEliminar {
        padding: 10px 10px;
        background-color: red;
    }

    #btnCancelar {
        padding: 10px 10px;
        background-color: orange;
    }
}